html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0

body
  background: #f1f4f6
  font-family: Arial, 'Hiragino Sans GB', 'Microsoft YaHei', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif
  font-size: 15px

ul, li
  margin: 0
  padding: 0

ul
  list-style: none

p
  font-size: 16px
  line-height: 1.4

a
  text-decoration: none
