@import "./common"
@import "./ui/animations"
@import "step"

h5
  margin: 0
  margin-top: 20px
  font-size: 18px
  font-weight: normal

button
  background-color: #3b3f4e
  color: #fff
  border: none
  padding: 3px 8px 3px 8px
  border-radius: 3px
  &:focus
    outline: none

form
  margin: 10px
  .form-group
    margin-top: 5px
    width: 100%
    input
      box-sizing: border-box
      height: 29px
      padding-left: 3px
      padding-right: 3px
      line-height: 25px
      border: solid 1px #aaa
      &:focus
        outline: none
        border: solid 1px #57b382
  button
    margin-top: 5px
    width: 50px

.disabled
  background-color: #ddd
  color: #aaa
  cursor: not-allowed

.wrapper
  width: 1000px
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  margin: 0 auto

.container
  width: 100%
  display: flex
  justify-content: space-between
  align-items: stretch
  .input-field, .bulletin-board
    display: inline-flex
    padding-left: 10px
    padding-right: 10px
  .input-field
    flex-grow: 3
    flex-basis: 600px
    height: 600px
    flex-direction: column
    justify-content: flex-start
  .bulletin-board
    background-color: #a3d2bf
    flex-grow: 2
    flex-basis: 330px

.step-container
  margin-left: auto
  margin-right: auto
  padding-top: 30px
  width: 100%
  text-align: center
  ul
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  li
    display: inline-block
    font-size: 10px
    span
      display: block

.display-container
  width: 100%
  .bulletin-title
    display: block
    font-size: 18px
    margin-top: 30px
  .bulletin-content
    font-size: 12px
    background-color: #fff
    margin-top: 15px
    li
      border-bottom: solid 1px #eee
      height: 25px
      &:last-child
        border: none
      .config-key, .config-val
        display: inline-block
        padding-left: 10px
        box-sizing: border-box
        line-height: 24px
      .config-key
        width: 70px
        border-right: solid 1px #eee
      .config-val
        max-width: 270px

.raw-info
  margin-left: auto
  margin-right: auto
  margin-top: 30px
  width: 100%

.os-dist-container, .image-name-container
  margin-left: auto
  margin-right: auto
  margin-top: 10px
  width: 100%
  display: block

.os-dist-container
  display: flex
  justify-content: space-between

.pagination
  display: inline-block
  li
    display: inline-block
    border-top: solid 1px #57b382
    border-bottom: solid 1px #57b382
    border-right: solid 1px #57b382
    padding: 3px
    &:first-child
      border-left: solid 1px #57b382
      border-radius: 3px 0 0 3px
    &:last-child
      border-radius: 0 3px 3px 0
    &:hover
      background-color: #a2d3bf
    a
      color: #57b382
  .disabled
    background-color: #ddd
    cursor: not-allowed
    &:hover
      background-color: #ddd
    a
      cursor: not-allowed
      color: #aaa
  .active
    background-color: #57b382
    &:hover
      background-color: #57b382
    a
      color: #fff


.os-dist
  display: inline-block
  margin-left: 10px

.os-dist li
  display: inline-block
  margin-right: 5px

.os-info
  border-collapse: separate
  border-spacing: 0 5px
  width: 100%
  tr
    height: 38px
    border-radius: 3px
    cursor: pointer
    &:hover
      background-color: #a2d3bf
    td
     border-top: solid 1px #57b382
     border-bottom: solid 1px #57b382
    .os-name
      border-left: solid 1px #57b382
      border-radius: 3px 0 0 3px
      padding-left: 5px
      color: #57b382
    .os-id
      border-right: solid 1px #57b382
      border-radius: 0 3px 3px 0
      color: #999
  .active
    background-color: #56b382
    td
      color: #fff
    &:hover
      background-color: #56b382

.form-container
  margin: 0 auto
  width: 350px
  height: 180px
  padding: 10px
  box-shadow: 3px 3px 1px #ddd
  background-color: #fff
  input
    width: 100%
  span
    font-size: 18px
    display: block
    padding-bottom: 3px
    margin-bottom: 10px
    border-bottom: solid 1px #ddd

.configuration-container, .status-container
  .btn
    margin: 5px 3px
  .active
    background-color: #57b382
    color: #3b3f4e
  table
    width: 100%
    thead
      background-color: #a2d3bf
    tr th
      height: 40px
      font-weight: normal
      text-align: left
      padding-left: 10px
    tr td
      border: solid 1px #ddd
      height: 30px
      padding-left: 10px
    tr .check-cell
      text-align: center
      padding: 0

.net-container
  .hint
    display: block
    height: 20px
    font-size: 12px
    font-style: italic
  ul
    li
      border: 1px solid #a2d3bf
      font-size: 12px
      padding: 5px
      margin-top: 5px
      cursor: pointer
      border-radius: 3px
      height: 30px
      display: flex
      align-items: center
      &:hover
        background-color: #a2d3bf
      span
        margin-left: 5px
        font-size: 14px

.basic-container
  margin-top: 60px
  .basic-info
    margin: 0 auto
    width: 400px
  .col-sm-2
    display: inline-block
    width: 80px
    text-align: right
    padding-right: 10px
    box-sizing: border-box
  .col-sm-10
    display: inline-block
    input
      width: 280px
      &:read-only
        background-color: #eee
        cursor: not-allowed
        border: solid 1px #aaa
  .help-block
    margin-left: 80px
    margin-top: 5px
    font-size: 10px
    background-color: #a2d3bf
    border-radius: 3px
    height: 30px
    padding-left: 5px
    box-sizing: border-box
    width: 280px
    span
      line-height: 30px
  .has-error
    input
      border: solid 1px #b94a48
      &:focus
        border: solid 1px #b94a48
  .error-hint
    background-color: #f2dede
    color: #b94a48
  .success-hint
    display: none
  button
    margin-left: 80px

.status-container
  width: 80%
  .back
    display: flex
    justify-content: space-between
    margin-top: 20px
    .quit
      background-color: #b94a48
